@import url('https://fonts.cdnfonts.com/css/delecta');
#texto{
    height: 55vh;
    width: 100vw;
}

body{
    background-color: black;
}

#bot{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caixaOpc{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 35vw;
    background-color: rgb(10,36,69);
    border-style: solid;
    border-width: 4px;
    border-radius: 36px;
    border-color: rgb(22,55,100);
    align-items: center;
    justify-content: space-around;
    padding: 36px;
}

a{
    text-decoration-line: none;
}

.opcoes{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opc{
    font-family: delecta; 
    color: white;
    font-size: 24px;
    font-weight: 200px;
}

.opc2{
    font-family: delecta; 
    color: white;
    font-size: 26px;
    font-weight: 200px;
}

.selected{
    background-color: rgb(22,55,100);
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}

.tempo{
    font-size:120px;
    font-family: delecta;
    color: white;
    margin: 0px;
}

#mL{
    display: flex;
    align-items: center;
    width:200px;
    justify-content: space-around;
}

.select{
    background-color: rgb(204,204,204);
    width: 4vw;
    height: 4vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.bolinha{
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius:360px
}

#botC{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    height: 3vw;
    width: 10vw;
    background: rgb(160,126,231);
    background: linear-gradient(180deg, rgba(160,126,231,1) 5%, rgba(80,68,251,1) 51%, rgba(49,41,168,1) 85%);
}

.aviso{
    width: 35vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}


.eA{
    font-family: delecta;
    color: white;
    font-size: 20px;
}

.linha{
    height: 1px;
    width: 100%;
    background-color: white;
}

.list{
    font-family: delecta;
    font-size: 48px;
    color: white;
}

.tarefas{
    justify-content: space-around;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button{
    border-style: none;
}

.add{
    color: rgb(184,129,235);
    margin: none;
    border-style: none;
    font-family: delecta;
    font-size: 28px;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 180px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(184,129,235);
    background-color: black;
}